services:
  web:
    build:
      context: .
      args:
        PYTHON_VERSION: "3.13"
    command: daphne -b 0.0.0.0 -p 8000 redbit.asgi:application
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/app/redbit/staticfiles
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build:
      context: .
      args:
        PYTHON_VERSION: "3.13"
    command: celery -A redbit worker --loglevel=info
    volumes:
      - static_volume:/app/redbit/staticfiles
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/data/postgres
    env_file:
      - .env
  redis:
    image: redis:alpine
    ports:
      - "6379:6379" # (Optional) เผื่อต้องการเข้าถึงจาก Host
    volumes:
      - redis_data:/data # (Optional) ทำให้ข้อมูล Redis คงอยู่
volumes:
  postgres_data:
  static_volume:
  media_volume:
  redis_data:
